script.
  $(function() {
    
  });

.item_div(style="margin-top:10px; margin-bottom:10px;width:600px")
  .item_title(style="font-weight:bold;font-size:22px;text-align:left") 
  .item_text(style="font-weight:bold;font-size:12px;text-align:left") 
  .item_link
  .item_actions
  
