.item_div(style="margin-top:10px; margin-bottom:10px;width:600px;font-family:Trebuchet MS, Verdana, sans-serif")
  .item_title(style="font-weight:bold;font-size:22px;text-align:left") 
  .item_author(style="font-weight:bold;font-size:14px;text-align:left") 
  .item_text(style="font-weight:bold;font-size:12px;text-align:left") 
  .item_link
  .item_actions(style="height:40px;background-color:#eee;font-weight:bold;font-size:12px;text-align:left")
  
