.item_content(style="border-right: 190px solid #eee;float:left;background:#fff;width:600px;font-family:Trebuchet MS, Verdana, sans-serif")
  .item_title(style="font-weight:bold;font-size:22px;text-align:left") 
  .item_author(style="font-weight:bold;font-size:14px;text-align:left") 
  .item_text(style="font-weight:bold;font-size:12px;text-align:left") 
  .item_link

.item_tags(style="margin-left:-190px;position: relative;font-size:14px;text-align:left;float:left;width:190px;background:#eee")

div(style="clear:both")
.item_actions(style="height:40px;background-color:#eee;font-weight:bold;font-size:12px;text-align:left")
  
