script.
  $(function() {

    // TODO: Refactor all tags related behavior into a seperate component
    $(".addTagAction").click(function() {
        var addTagAction = $(this);
        addTagAction.hide();
        $(".tagger").append('<div class="tagInput rounded", style="width:160px" contenteditable="true"></div>'); 
        $(".tagInput").focus();
        $(".tagInput").blur(function() {
          var tag_text = $(this).text();
          $(this).remove();
          addTagAction.parent().prepend('<div class="tag rounded floatLeft">'+tag_text+'<a href="#" class="remove_tag"><img class="tag_x" src="images/tiny_x.png"></img></a></div>');
          addTagAction.show();
        });
    });
    
    // Tag actions
    function removeTag() {
      $(this).parent(".tag").remove();
    }

    $('#newItemTags').keyup(function(event) {
      var self = $('#newItemTags');

      if (event.keyCode === 188) { // comma was pressed and new tag is born
        var tag_text = self.text().slice(0,-1); // remove the comma
        console.log(tag_text);
        $('#newItemTags').text("");
        $('#newItemTagContainer').append('<div class="tag rounded floatLeft">'+tag_text+'<a href="#" class="remove_tag"><img class="tag_x" src="images/tiny_x.png"></img></a></div>');

        $('.remove_tag').on("click", removeTag);
      }
    });

    $('#newItemTags').on('input', function() {
      var tag_string = ($('#newItemTags').text());
      var tags = tag_string.split(',');

      if (tags.length > 1) {
        for(var i =0; i < tags.length; i++) {
          //console.log(tags[i]);
          //$('#newItemTags').append('<div class="tag rounded floatLeft">'+tags[i]+'</div')
        }
      }
      
    });
  });

div(style="margin-top:10px; margin-bottom:10px")
  input#newItemTitle.textInput(type='text' style='width:788px' placeholder='Title')
  
  #epiceditor
  
  #newItem.tagger(style="margin-top:10px")
    a.addTagAction(href="#", style="display:block;float:left;text-decoration:none;")
        img(src="images/add_button.png" alt="Add tags" style="height:20px;width:20px;vertical-align:middle") 
      
  div(style="clear:both");
  div#newItemActions(style="margin:5px")
  a#cancelAction(data-object="newItem" data-type="action", data-callback="onCancel")
    img.actionImage.floatRight(src='images/x_button.png')
  a#okAction(data-object="newItem" data-type="action", data-callback="onOK")
    img.actionImage.floatRight(src='images/ok_button.png')
  
