script.
  $(function() {

    var tagger = new Tagger().create($("#newItem.tagger"));
  });

    

div(style="margin-top:10px; margin-bottom:10px")
  p Add new item
  input#newItemTitle.textInput(type='text' style='width:788px' placeholder='Title')
  
  #epiceditor(style="height:200px")
  
  #newItem.tagger(style="margin-top:10px")
          
  div(style="clear:both");
  div#newItemActions(style="margin:5px")
  a#cancelAction(data-object="newItem" data-type="action", data-callback="onCancel")
    img.actionImage.floatRight(src='images/x_button.png')
  a#okAction(data-object="newItem" data-type="action", data-callback="onOK")
    img.actionImage.floatRight(src='images/ok_button.png')
  
