#homepage_content {
    width:800px;
    margin:auto;
}

#homepage_logo {
    height:120px;
    width:120px;
    margin:auto;
}

#login_form {
    margin:auto;
    width:450px;
}

#login_form input[type=email],
            input[type=password] 
{
    float:left;
    height:20px;
    padding:5px;
    margin:5px;
    border-width:1px;
    border-style:solid;
    border-color:#ccc;
}

/* Home */

#sharez_header {
    position: fixed;
    height: 40px;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color:#eee;
}

#header_logo {
  float:left;
  margin:5px;
}

#header_title {
  
  margin:5px auto;
  height:30px;
  width:300px;
  line-height:30px;
}

.header_action_link {
  display:block;
  float:right;
  font-size:12px;
  width:40px;
  height:30px;
  line-height:30px;
  margin:5px
}

#user_header {
  float:right;
  height:40px;
  width:400px;
  background-color:#eee;
}

#home_content {
  width:800px;
  margin:auto;
  margin-top:60px;
}

#admin_content {
  width:100%;
  margin:auto;
  margin-top:60px;
}
