script.
    $(function() {
        $('#addItemActionUrl').html(window.location.href);
    });

#actionContents
    #addItemActionUrl(style='float:left;width:500px;height:30px;overflow:hidden;border:1px solid red')

    .blank(style='clear:both')

    #addItemActionTags
        input(type="text" name="tags" style='float:left;width:50%;height:30px;border:1px solid blue')
    


    