extends layouts/home_layout

block scripts
  script.

    $( document ).ready(function() {
      $("#newItem").click(function() {
        $("#contentActions").append("<input type='text' class='textInput rounded' style='width:780px' placeholder='New item'/>");
      });

      $.get('/api/items', function(data, status, xhr) {
        console.log("Items Loaded");
        console.log(status);
        console.log(data);
      });
    });

block content
  #home_content   
    div#contentTitle(style="margin-top:80px;")
      h2(style="margin:auto 10px;float:left;color:#666;") Playing with items
      div(style="clear:both")
    div#contentActions(style="height:80px")
      a#newItem(href="#", style="display:block;float:left")
        img(src="images/add_button.png" style="height:40px;width:40px")
      a#newItem(href="#", style="display:block;float:left")
        img(src="images/ok_button.png" style="height:40px;width:40px")

    div#contentItems(style="float:left; border:1px solid blue;width:800px;height:300px")

            