extends layouts/home_layout

block scripts
  script.
    // Global callbacks for internal and dynamic actions
    function actionCompleted(action){
      if (action === 'newitem') {
        $("#newItemAction").show();
        $("#newItem").remove();
      }
    }

    function loadItems(callback)
    {
      $.get('/api/items', function(data, status, xhr) {
        console.log(data.items);
        callback(data.items);
      });
    }

    function renderItems(items)
    {
      for(var i = 0; i < items.length; i++)
      {
        var item = items[i];
        console.log(item);
        var item_id = "item_" + item.id;
        $("#items").append('<div id=item_' + item.id + '/>')
        $("#"+item_id).load('/ui/item', function() {
          var selector = "#"+ item_id +" .item_text";
          console.log(selector);
          console.log(item.value.text);
          $(""+selector).text(item.value.text);
        });
      }
    }

    $( document ).ready(function() {
      $("#newItemAction").click(function() {
        $("#newItemAction").hide();
        $("#newItem").load('/ui/newitem', function() {
          console.log("Loaded");
        });
      });

      loadItems(renderItems);
    });

block content
  #home_content   
    #contentTitle(style="margin-top:80px;")
      h2(style="margin:auto auto;float:left;color:#666;") Playing with items
      div(style="clear:both")

    #contentActions(style="height:30px;margin:10px auto")
      a#newItemAction(href="#", style="display:block;float:left")
        img(src="images/add_button.png" style="height:30px;width:30px")
    
    #newItem

    #items(style="float:left; border:1px solid blue;width:800px;height:300px")

            