extends layouts/home_layout

block scripts
  script.
    // Global callbacks for internal and dynamic actions
    function actionCompleted(action){
      if (action === 'newitem') {
        $("#newItemAction").show();
        $("#newItem").remove();
      }
      
    }

    $( document ).ready(function() {
      $("#newItemAction").click(function() {
        $("#newItemAction").hide();
        $("#newItem").load('/ui/newitem', function() {
          console.log("Loaded");
        });
      });

      $.get('/api/items', function(data, status, xhr) {
        console.log("Items Loaded");
        console.log(status);
        console.log(data);
      });
    });

block content
  #home_content   
    div#contentTitle(style="margin-top:80px;")
      h2(style="margin:auto auto;float:left;color:#666;") Playing with items
      div(style="clear:both")

    div#contentActions(style="height:30px;margin:10px auto")
      a#newItemAction(href="#", style="display:block;float:left")
        img(src="images/add_button.png" style="height:30px;width:30px")
    
    div#newItem

    div#contentItems(style="float:left; border:1px solid blue;width:800px;height:300px")

            