extends home_layout

block content
  #home_content    
    h1(style="margin:5px auto") ShareZ Home
    h3(style="margin-top:5px")
        i social knowledge management system
    p. 
      There was a problem with your confirmation, the token must have expired 
      br
      Please click the link below to resend the confirmation email.

      a(href="/confirm" style="display:block;margin:40px auto;font-size:14px;width:180px") Resend confirmation email
            