doctype 5
html
  head
    title= "ShareZ"
    link(rel='shortcut icon', type='image/png', href='/images/szLogo.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/site.css')
    script(src='javascripts/jquery-1.9.1.js')
    script(src='javascripts/underscore.js')
    block scripts
  body
    #sharez_header
      img#header_logo(src='http://127.0.0.1:3000/images/szlogo.png', alt='ShareZ', height='30', width='30')
      #header_title
        block title
      #user_header
        a(href="/logout" style="display:block;float:right;font-size:12px;width:40px;height:30px;line-height:30px;margin:5px").
          logout

        - if (typeof(user) !== 'undefined'){
            div(style="font-size:12px;float:right;height:30px;line-height:30px;margin:5px").
              #{user.email}
        -}
          
        
    #admin_content
      block content