<!-- confirm.html -->
<html>
<head>
  <title>Please confirm your email address</title>
</head>
<body>
  <p>
    Hi {{name}} {{surname}},
  </p>
  <p>
    You have successfully signed up to ShareZ
    <br />
    Please follow the link bellow to confirm your email:
  </p>
  <p>
    <a href="http://localhost:3000/confirm?token={{token}}">http://localhost:3000/confirm?token={{token}}</a>
  </p>
  <p>
    Thank you,
    <br />
    MZ from ShareZ
  </p>
  <p>
    <a href="http://localhost:3000"><img src="cid:logo@sharez" /></a>
  </p>
</body>
</html>